:root {
  --primary-color: #ffffff;
  --secondary-color: #000000;
  --accent-color: #ff4081;
  --blur-verde: rgb(0, 255, 64);
  --blur-roxo: rgb(160, 120, 255);
  --blur-azul: rgb(120, 170, 255);
  --blur-amarelo: rgb(255, 191, 0);
  --font-family: 'Arial', sans-serif;
}

/* let color1 = [0, 255, 64]; // rosa
let color2 = [160, 120, 255]; // roxo
let color3 = [120, 170, 255]; // azul
let color4 = [255, 191, 0]; // rosa claro */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  overflow: visible;
  background: var(--secondary-color);
  color: white;
}

h1 {
  font-size: 2rem;
  margin-bottom: 20px;
  font-family: var(--font-family);
}



section {
  min-width: 100%;
  height: 100vh;
  padding: 70px 30px;
  position: relative;
}

#home {
  height: 100vh;
}

header {
  position: fixed;
  top: 0px;
  width: 100%;
  text-align: center;
  z-index: 20;
  height: 60px;

}

header.scrolled {
  background-color: #000000;
  box-shadow: 0 4px 18px var(--accent-color);
}

header .btn-menu {
  all: unset;
  display: block;
  position: fixed;
  top: 10px;
  right: 20px;

  padding: 10px;
  z-index: 30;
  cursor: pointer;

}

header .btn-menu i {
  font-size: 2rem;

}

header nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background: rgba(255, 255, 255, 0.15);
  /* transparência */
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  /* Safari */

  border-right: 2px solid rgba(255, 255, 255, 0.25);

  padding: 24px;
  color: #fff;
  width: 70%;
  transform: translateX(-100%);
  height: 100vh;
  position: fixed;
  top: 0px;
  left: 0px;
  transition: transform 0.3s ease-in-out;
  z-index: 25;
}

header nav.open {
  transform: translateX(0);
}

header nav .logo-menu {

  width: 100%;
  max-width: 500px;

  border-radius: 50%;

}

header nav .logo-menu img {
  width: 100%;
  height: auto;
}

header nav ul {
  display: flex;
  flex-direction: column;


  padding: 2rem;
  height: 100%;
  list-style: none;
  gap: 40px;

  padding: 10px 40px;
  border-radius: 10px;
}

header nav ul li a {
  color: #ffffff9e;
  text-decoration: none;
  font-family: Arial, sans-serif;
  font-size: 1.2rem;
  transition: color 0.3s;
  font-weight: bold;
}

header nav ul li a:hover {
  color: #ffffff;
  font-weight: bold;
}

header nav ul li a::after {
  content: '';
  display: block;
  width: 0;
  height: 3px;
  background: #ffffff;
  transition: width 0.3s;
}

header nav ul li a:hover::after {
  width: 100%;
}

.scene {
  position: relative;
  width: 100%;
  height: 100%;
}

canvas {
  position: absolute;
  inset: 0;
}

.logo {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  max-width: 700px;
  height: auto;
  transform: translate(-50%, -50%);
  z-index: 10;
  filter: drop-shadow(0 0 25px rgba(255, 255, 255, 0.25));
}

/* ==== SOBRE ==== */
/* blur elements com todas as cores */

.blur-verde {
  position: absolute;
  width: 600px;
  height: 600px;
  background: var(--blur-verde);
  filter: blur(150px);
  top: -100px;
  left: -100px;
  z-index: 5;
  opacity: 0.7;
}

.blur-amarelo {
  position: absolute;
  width: 400px;
  height: 400px;
  background: var(--blur-amarelo);
  filter: blur(150px);
  top: 200px;
  right: -150px;
  z-index: 5;
  opacity: 0.7;
}

.blur-roxo {
  position: absolute;
  width: 300px;
  height: 300px;
  background: var(--blur-roxo);
  filter: blur(200px);
  bottom: -150px;
  right: -100px;
  z-index: 5;
  opacity: 0.7;
}
.blur-azul {
  position: absolute;
  width: 400px;
  height: 400px;
  background: var(--blur-azul);
  filter: blur(150px);
  bottom: 100px;
  left: -150px;
  z-index: 5;
  opacity: 0.7;
}

.about-img {
  width: 100%;
  max-width: 600px;
  margin: 40px auto;


}

.about-img img {
  width: 70%;
  height: 40%;
  display: block;
  border-bottom-right-radius: 100px;
  box-shadow: 10px 10px 10px 10px rgb(160, 120, 255);
}

.about-text {
  max-width: 800px;
  margin: 0 auto;
  font-family: var(--font-family);
  font-size: 1.2rem;
  line-height: 1.6;
  text-align: justify;
  height: 180px;
  overflow-y: auto;
}
/* cards de produtos */
.products-cards {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 60px;
  justify-content: center;
  margin-top: 40px;
 
}
#products {
  height: auto;
  min-height: 100vh;
}
.product-card{
  background: rgba(255, 255, 255, 0.15);
  /* transparência */
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  /* Safari */
display: flex;
  flex-direction: column;
  align-items: center;
  border-right: 2px solid rgba(255, 255, 255, 0.25);
  border-radius: 20px;
  padding: 20px;
  box-shadow: 0 4px 18px var(--accent-color);
  transition: transform 0.3s ease-in-out;
  width: 65%;
  max-width: 400px;
 
  z-index: 10;
}
.product-card:hover {
  transform: scale(1.05);
}
.product-card img{
  width: 90%;
  max-width: 250px;
  height: auto;
  border-radius: 15px;
  margin-bottom: 15px;

}
.product-card h2{
  margin-bottom: 10px;
  font-family: var(--font-family);
  font-size: 1.8rem;
  text-shadow: var(--accent-color) 0px 0px 10px;
}
.product-card p{
  font-family: var(--font-family);
  font-size: 1.2rem;
  text-align: justify;
  margin-bottom: 12px;
}

.product-card .price-buy {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.product-card .price-buy .price {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--accent-color);
  text-shadow: var(--accent-color) 0px 0px 10px;
}
.product-card .price-buy .buy-btn {
  background-color: var(--accent-color);
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease-in-out;
}

/* desc */

@media(min-width:1024px) {
  header {
    display: flex;
    justify-content: right;
    padding: 0 40px;
    position: fixed;
    top: 0;
    left: 0;
    background: none;
    transition: background-color 0.3s ease-in-out;

  }

  header .btn-menu {
    display: none;
  }

  header nav .logo-menu img {
    display: none;
    width: 180px;
    height: auto;
    background: none;
    /* transparência */
    backdrop-filter: none;
    -webkit-backdrop-filter: none;
    /* Safari */

    border-right: none;
  }


  header nav {
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    border: none;
    background: none;
    padding: 2rem 2rem;

    transform: translateX(0);
    position: static;
    height: auto;


  }

  header nav ul {
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    padding: 0;
    gap: 30px;
    height: auto;
    border-radius: 0;


  }

  header nav ul li a {
    font-size: 1.2rem;
  }

  header.scrolled {

    /* transparência */
    backdrop-filter: none;
    -webkit-backdrop-filter: none;
    /* Safari */

    border-right: none;

    background-color: rgba(0, 0, 0, 0.9);

    box-shadow: 0 4px 18px var(--accent-color);
    height: 80px;
  }


  #about {
    display: grid;
    grid-template-areas:
      "title "
      "content ";
    grid-template-rows: 80px 1fr;
   justify-content: centerS;
    justify-items: left;
  }

  .title-about {
    grid-area: title;
    font-size: 3rem;
    margin-bottom: 0px;
    display: flex;
    align-items: end;
  }

  .about-content {
    grid-area: content;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    align-items: center;
  }
  .about-text{
    overflow-y: auto;
    height: auto;
  }

}